<template>
    <section class="container">
        <div v-if="!show_detail">
            <label>Show
                <select name="example_length" aria-controls="example" v-model="query.pageSize">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select> entries</label>
            <div id="example_filter" class="pull-right"><label>Search:<input type="search" v-model="keyword" class="" placeholder="" aria-controls="example"></label></div>
            <table id="example" class="table table-default" width="100%">
                <thead>
                <tr role="row">
                    <th v-for="field in fields" @click="query.sortField = field;query.sortDirection = (query.sortDirection == 'asc' ? 'desc' : 'asc');">{{field}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="record in result['data']" >
                    <td v-for="field in fields">{{record[field]}}</td>
                    <td class="btn btn-info" @click="show_detail = true; detail = record">Show Detail</td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination pull-right">
                <li  v-bind:class="{ active: (n === query.pageNumber)}" v-for="n in pagination_pages">
                    <a v-if="Math.abs(query.pageNumber - n) == 2 && n != 1 && n != result.totalPages">...</a>
                    <a v-else="" v-on:click="query.pageNumber = n">{{n}}</a>
                </li>
            </ul>
        </div>
        <user-detail ref="detail"  v-on:close_detail="close_detail" v-if="show_detail" :show.sync="show_detail" :data="detail"></user-detail>
    </section>
</template>

<script>
  import $ from 'jquery'
  import axios from 'axios'
  import _ from 'underscore'
  import UserDetail from './show.vue'

  export default {
    name: 'user_list',
    props: {
      apiUrl: {
        type: String,
        required: true
      },
      fields: {
        type: Array,
        required: true
      }
    },
    components: {UserDetail},
    data: function () {
        return {
          query: {
            pageNumber: 1,
            pageSize: 10,
            sortField: 'id',
            sortDirection: 'desc'
          },
          keyword: '',
          result: {totalPages: 0},
          show_detail: false,
          detail: {ab: 23}
        }
    },
    methods: {
      fetch_data: function () {
        var that = this
        axios.get(this.apiUrl, {
          params: _.extend(this.query, {keyword: this.keyword})}
        )
          .then(function (response) {
            that.result = response.data;
          })
          .catch(function (error) {
            that.errors.push(error);
          })
      },
      close_detail :function () {
        this.show_detail = false;
        this.detail = {}
      }
    },
    computed: {
      pagination_pages: function () {
        var that = this;
        return _.filter(_.range(1, this.result.totalPages + 1), function (n) {
          return Math.abs(that.query.pageNumber - n) <= 2 || (n == 1 || n == that.result.totalPages);
        })
      }
    },
    watch: {
      query: {
        handler: function() {
          this.fetch_data()
        },
        deep: true
      },
      keyword: function () {
        if (this.query.pageNumber !== 1) {
          this.query.pageNumber = 1
        }
        else {
          this.fetch_data()
        }
      }
    },
    mounted: function () {
      this.fetch_data()
    }
  }
</script>

<style scoped>
</style>
