<template>
    <section class="container">
        <ul class="list-group">
            <li class="list-group-item" v-for="value, key in data">
                <span>{{key}}: </span>
                {{value}}</li>
        </ul>
        <a @click="$emit('close_detail')">Return to List Page</a>
    </section>
</template>

<script>
  export default {
    name: 'user_detail',
    props: {
      data: {
        type: Object,
        required: true
      },
    },
  }
</script>

<style >
</style>
